# Raw Data Files

# JSON Files

# Files
/.vs/kGeoVS/v17/.wsuo
/.vs/kGeoVS/FileContentIndex/5de00d8a-d059-4a02-958e-0dd49d3978cb.vsidx
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
