# Raw Data Files

# JSON Files

# Files
/.idea/.gitignore
/pn/.gitignore
/pn/models/.gitkeep
/pn/notebooks/.gitkeep
/pn/references/.gitkeep
/pn/reports/figures/.gitkeep
/pn/reports/.gitkeep
/pn/src/data/.gitkeep
/pn/src/features/.gitkeep
/pn/src/models/.gitkeep
/pn/src/visualization/.gitkeep
/.idea/.name
/pn/src/data/__init__.py
/pn/src/features/__init__.py
/pn/src/models/__init__.py
/pn/src/visualization/__init__.py
/pn/src/__init__.py
/core/data/mirrored/afrinic
/core/data/aggregated/afrinic_asn.json
/core/data/ordered/afrinic_asn.json
/core/data/preprocessed/afrinic_asn.json
/core/data/serialized/afrinic_asn.json
/core/history/rir/afrinic_asn_2023-10-21.json
/core/data/aggregated/afrinic_ipv4.json
/core/data/ordered/afrinic_ipv4.json
/core/data/preprocessed/afrinic_ipv4.json
/core/data/serialized/afrinic_ipv4.json
/core/history/rir/afrinic_ipv4_2023-10-21.json
/core/data/aggregated/afrinic_ipv6.json
/core/data/ordered/afrinic_ipv6.json
/core/data/preprocessed/afrinic_ipv6.json
/core/data/serialized/afrinic_ipv6.json
/core/history/rir/afrinic_ipv6_2023-10-21.json
/core/data/mirrored/apnic
/core/data/aggregated/apnic_asn.json
/core/data/ordered/apnic_asn.json
/core/data/preprocessed/apnic_asn.json
/core/data/serialized/apnic_asn.json
/core/history/rir/apnic_asn_2023-10-21.json
/core/data/aggregated/apnic_ipv4.json
/core/data/ordered/apnic_ipv4.json
/core/data/preprocessed/apnic_ipv4.json
/core/data/serialized/apnic_ipv4.json
/core/history/rir/apnic_ipv4_2023-10-21.json
/core/data/aggregated/apnic_ipv6.json
/core/data/ordered/apnic_ipv6.json
/core/data/preprocessed/apnic_ipv6.json
/core/data/serialized/apnic_ipv6.json
/core/history/rir/apnic_ipv6_2023-10-21.json
/core/data/mirrored/arin
/core/data/aggregated/arin_asn.json
/core/data/ordered/arin_asn.json
/core/data/preprocessed/arin_asn.json
/core/data/serialized/arin_asn.json
/core/history/rir/arin_asn_2023-10-21.json
/core/data/aggregated/arin_ipv4.json
/core/data/ordered/arin_ipv4.json
/core/data/preprocessed/arin_ipv4.json
/core/data/serialized/arin_ipv4.json
/core/history/rir/arin_ipv4_2023-10-21.json
/core/data/aggregated/arin_ipv6.json
/core/data/ordered/arin_ipv6.json
/core/data/preprocessed/arin_ipv6.json
/core/data/serialized/arin_ipv6.json
/core/history/rir/arin_ipv6_2023-10-21.json
/core/data/mirrored/asnames
/core/data/aggregated/asnames.json
/core/data/ordered/asnames.json
/core/data/serialized/asnames.json
/core/history/asnames/asnames_2023-10-21.json
/core/history/asnames/asnames_2023-10-22.json
/core/data/preprocessed/bad_riswhois4.json
/core/data/preprocessed/bad_riswhois6.json
/core/data/serialized/bgpaspath4.json
/core/data/serialized/bgpaspath6.json
/core/data/mirrored/bgptable
/core/data/serialized/bgptable.json
/core/data/preprocessed/bgptable4.json
/core/data/processed/bgptable4.json
/core/data/serialized/bgptable4.json
/core/history/bgptable/bgptable4_2023-10-21.json
/core/data/preprocessed/bgptable6.json
/core/data/processed/bgptable6.json
/core/data/serialized/bgptable6.json
/core/history/bgptable/bgptable6_2023-10-21.json
/pn/src/features/build_features.py
/pn/docs/commands.rst
/pn/docs/conf.py
/core/data/mirrored/GeoLite2-ASN-CSV_20231020/GeoLite2-ASN-Blocks-IPv4.csv
/core/data/mirrored/GeoLite2-ASN-CSV_20231020/GeoLite2-ASN-Blocks-IPv6.csv
/core/data/mirrored/GeoLite2-Country-CSV_20231020/GeoLite2-Country-Blocks-IPv4.csv
/core/data/mirrored/GeoLite2-Country-CSV_20231020/GeoLite2-Country-Blocks-IPv6.csv
/core/data/mirrored/GeoLite2-Country-CSV_20231020/GeoLite2-Country-Locations-de.csv
/pn/docs/getting-started.rst
/core/data/preprocessed/good_riswhois4.json
/core/data/preprocessed/good_riswhois6.json
/core/data/mirrored/iana
/core/data/aggregated/iana_asn.json
/core/data/ordered/iana_asn.json
/core/data/preprocessed/iana_asn.json
/core/data/serialized/iana_asn.json
/core/history/rir/iana_asn_2023-10-21.json
/core/data/aggregated/iana_ipv4.json
/core/data/ordered/iana_ipv4.json
/core/data/preprocessed/iana_ipv4.json
/core/data/serialized/iana_ipv4.json
/core/history/rir/iana_ipv4_2023-10-21.json
/core/data/aggregated/iana_ipv6.json
/core/data/ordered/iana_ipv6.json
/core/data/preprocessed/iana_ipv6.json
/core/data/serialized/iana_ipv6.json
/core/history/rir/iana_ipv6_2023-10-21.json
/pn/docs/index.rst
/core/data/mirrored/ip2loc4
/core/data/aggregated/ip2loc4.json
/core/data/ordered/ip2loc4.json
/core/data/preprocessed/ip2loc4.json
/core/data/serialized/ip2loc4.json
/core/history/ip2loc/ip2loc4_2023-10-21.json
/core/data/mirrored/ip2loc6
/core/data/aggregated/ip2loc6.json
/core/data/ordered/ip2loc6.json
/core/data/preprocessed/ip2loc6.json
/core/data/serialized/ip2loc6.json
/core/history/ip2loc/ip2loc6_2023-10-21.json
/core/data/mirrored/IP2LOCATION-LITE-DB1.CSV
/core/data/mirrored/IP2LOCATION-LITE-DB1.IPV6.CSV
/core/history/ipinfo/ipinfo_2023-10-21.json
/core/data/mirrored/ipinfo_country_asn
/core/data/aggregated/ipinfo_country_asn.json
/core/data/preprocessed/ipinfo_country_asn.json
/core/data/serialized/ipinfo_country_asn.json
/core/data/ordered/ipinfo_country_asn_byAS.json
/core/data/ordered/ipinfo_country_asn_byIP.json
/core/data/mirrored/ipmap
/core/data/accumulated/ipmap.json
/core/data/aggregated/ipmap.json
/core/data/ordered/ipmap.json
/core/data/preprocessed/ipmap.json
/core/data/serialized/ipmap.json
/core/history/ipmap/ipmap_2023-10-21.json
/.idea/kGeo.iml
/.idea/dictionaries/Kogga.xml
/core/data/mirrored/lacnic
/core/data/aggregated/lacnic_asn.json
/core/data/ordered/lacnic_asn.json
/core/data/preprocessed/lacnic_asn.json
/core/data/serialized/lacnic_asn.json
/core/history/rir/lacnic_asn_2023-10-21.json
/core/data/aggregated/lacnic_ipv4.json
/core/data/ordered/lacnic_ipv4.json
/core/data/preprocessed/lacnic_ipv4.json
/core/data/serialized/lacnic_ipv4.json
/core/history/rir/lacnic_ipv4_2023-10-21.json
/core/data/aggregated/lacnic_ipv6.json
/core/data/ordered/lacnic_ipv6.json
/core/data/preprocessed/lacnic_ipv6.json
/core/data/serialized/lacnic_ipv6.json
/core/history/rir/lacnic_ipv6_2023-10-21.json
/pn/LICENSE
/pn/docs/make.bat
/pn/src/data/make_dataset.py
/pn/docs/Makefile
/pn/Makefile
/core/data/mirrored/maxasn
/core/data/mirrored/maxcountry
/.idea/misc.xml
/.idea/modules.xml
/core/data/mirrored/nro
/core/data/aggregated/nro_asn.json
/core/data/ordered/nro_asn.json
/core/data/preprocessed/nro_asn.json
/core/data/serialized/nro_asn.json
/core/history/rir/nro_asn_2023-10-21.json
/core/data/aggregated/nro_ipv4.json
/core/data/ordered/nro_ipv4.json
/core/data/preprocessed/nro_ipv4.json
/core/data/serialized/nro_ipv4.json
/core/history/rir/nro_ipv4_2023-10-21.json
/core/data/aggregated/nro_ipv6.json
/core/data/ordered/nro_ipv6.json
/core/data/preprocessed/nro_ipv6.json
/core/data/serialized/nro_ipv6.json
/core/history/rir/nro_ipv6_2023-10-21.json
/core/data/mirrored/peeringdb
/core/data/ordered/peeringdb.json
/core/data/preprocessed/peeringdb.json
/core/data/serialized/peeringdb.json
/core/history/peeringdb/peeringdb_2023-10-21.json
/pn/src/models/predict_model.py
/.idea/inspectionProfiles/profiles_settings.xml
/pn/README.md
/pn/requirements.txt
/core/data/mirrored/ripencc
/core/data/aggregated/ripencc_asn.json
/core/data/ordered/ripencc_asn.json
/core/data/preprocessed/ripencc_asn.json
/core/data/serialized/ripencc_asn.json
/core/history/rir/ripencc_asn_2023-10-21.json
/core/data/aggregated/ripencc_ipv4.json
/core/data/ordered/ripencc_ipv4.json
/core/data/preprocessed/ripencc_ipv4.json
/core/data/serialized/ripencc_ipv4.json
/core/history/rir/ripencc_ipv4_2023-10-21.json
/core/data/aggregated/ripencc_ipv6.json
/core/data/ordered/ripencc_ipv6.json
/core/data/preprocessed/ripencc_ipv6.json
/core/data/serialized/ripencc_ipv6.json
/core/history/rir/ripencc_ipv6_2023-10-21.json
/core/data/mirrored/riswhois4
/core/data/preprocessed/riswhois4.json
/core/data/processed/riswhois4.json
/core/data/serialized/riswhois4.json
/core/history/riswhois/riswhois4_2023-10-21.json
/core/data/mirrored/riswhois6
/core/data/preprocessed/riswhois6.json
/core/data/processed/riswhois6.json
/core/data/serialized/riswhois6.json
/core/history/riswhois/riswhois6_2023-10-21.json
/pn/setup.py
/pn/test_environment.py
/pn/tox.ini
/pn/src/models/train_model.py
/.idea/vcs.xml
/pn/src/visualization/visualize.py
